@import '@arco-design/web-react/es/style/theme/default.less';

@picture-size: 120px;
@picture-operate-size: 24px;

@picture-large-size: 220px;
@picture-operate-large-size: 32px;

@picture-mini-size: 32px;

.upload-picture {
  width: @picture-size;
  height: @picture-size;
  position: relative;
  overflow: hidden;
  // border-radius: var(--border-radius-small);
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  background-color: var(--color-fill-2);
  cursor: pointer;

  &-modal {
    :global {
      .@{prefix}-modal {
        &-content {
          padding: 0px 20px;
        }

        &-header {
          border-bottom: none;
        }
      }
    }
  }

  &-add {
    border: 1px dashed var(--color-border-3);
  }

  a {
    cursor: pointer;
  }

  &-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-mask {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    transition: opacity 0.1s cubic-bezier(0, 0, 1, 1);
    font-size: 16px;
    height: @picture-operate-size;
    opacity: 1;
  }

  &-progress {
    left: 50%;
    top: 50%;
    position: absolute !important;
    transform: translateX(-50%) translateY(-50%);
  }

  .placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      height: 24px;
    }

    .text {
      line-height: 24px;
      font-size: 12px;
      text-align: center;
      color: #999;
    }
  }

  .label {
    height: 17px;
    width: 119px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #000;
    opacity: .5;
    border-radius: 6px 6px 0 0;
    position: absolute;
    top: 0;
    line-height: 1.5;
  }

  &.mini {
    width: @picture-mini-size;
    height: @picture-mini-size;

    .upload-picture {
      &-mask {
        opacity: 0;
      }
    }
  }

  &.large {
    width: @picture-large-size;
    height: @picture-large-size;

    .upload-picture {
      &-mask {
        font-size: 18px;
        height: @picture-operate-large-size;
      }
    }
  }
}