.icon-btn {
  font-size: 20px;
  color: var(--color-text-2);
  cursor: pointer;

  &.active {
    color: rgb(var(--primary-6)) !important;
  }
}


.list-items {
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 0 0 -5px;
  position: relative;

  .item {
    display: inline-block;
    margin: 0 5px 10px;
    width: 100px;
    position: relative;
    vertical-align: top;

    &-title {
      display: none;
    }

    .list-only {
      display: none
    }

    .cover {
      width: 100%;
      height: 100px;
      position: relative;
      line-height: 100px;
      cursor: pointer;
      text-align: center;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle
      }
    }

    .name {
      width: 100%;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer
    }

    // .isgif {
    //   border-radius: 100px;
    //   width: 40px;
    //   font-family: Microsoft YaHei;
    //   right: 4px;
    //   bottom: 4px
    // }
    .isgif,
    .pix {
      background: rgba(0, 0, 0, .6);
      height: 20px;
      line-height: 20px;
      text-align: center;
      position: absolute;
      color: #fff
    }

    .pix {
      bottom: 0;
      left: 0;
      width: 100%;
      transition: bottom .3s ease-out
    }

    .time {
      position: absolute;
      bottom: 32px;
      left: 0;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      height: 20px;
      line-height: 20px;
      width: 46px;
      text-align: center
    }

    .mask {
      .success {
        display: none
      }

      .fail {
        position: absolute;
        top: 0;
        left: 0;
        background: hsla(0, 0%, 100%, .85);
        border: 1px solid #f0f0f0;
        text-align: center;
        color: #5c5c5c;
        width: 100%;
        height: 100%;
        line-height: normal;
        z-index: 1
      }
    }

    &:hover {
      .pix {
        bottom: -20px
      }
    }
  }

  &.lists {
    .item {
      display: block;
      width: 100%;

      &-title {
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0;
      }

      .list-item {
        display: inline-block;
        position: relative;
        margin-right: 20px;
        vertical-align: middle
      }

      .list-only {
        display: inline-block
      }

      .block-only {
        display: none
      }

      .cover {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      .name {
        width: calc(100% - 430px) ;
        max-width: 500px;
      }

      .size {
        width: 70px;
      }

      .date {
        width: 114px;
      }

      &:hover {
        background: #f6f6f6
      }
    }
  }
}


// .list-items.lists .item .select-icon {
//   margin-left: 0;
//   margin-right: 10px;
//   top: 0;
//   left: 0
// }

// .list-items.lists .item .no-select {
//   margin-left: 0;
//   margin-right: 10px;
//   width: 20px;
//   height: 20px
// }






// .list-items .item .select-icon {
//   position: absolute;
//   left: 5px;
//   top: 5px;
//   z-index: 2;
//   height: 20px;
//   width: 20px;
//   border: 1px solid #e4e4e4;
//   background: #fff;
//   line-height: 20px;
//   text-align: center;
//   color: #fff;
//   border-radius: 20px;
//   display: none
// }

// .list-items .item .select-icon.active {
//   display: block;
//   background: #3089dc
// }

// .list-items .item .select-icon.angle {
//   border-radius: 4px
// }

// .list-items .item .next-icon-select:before {
//   font-size: 14px
// }





// .list-items .item .mask .fail .icon {
//   margin: 20px auto 10px
// }

// .list-items .item .mask .fail .lk {
//   display: block;
//   color: #5c5c5c;
//   text-decoration: underline
// }

// .list-items .item:hover .select-icon {
//   display: block
// }

// .list-items .up .mask .fail {
//   background: #e9e9e9;
//   line-height: 100px
// }

// .list-items .up .mask .fail .icon {
//   display: block
// }

// .list-items .up .mask .error {
//   line-height: 20px
// }

// .list-items .up .select-icon {
//   border: none;
//   color: #fff;
//   background: none
// }

// .list-items .up .next-icon-ashbin:before {
//   font-size: 16px;
//   cursor: pointer
// }

// .list-items .up .pix {
//   z-index: 2;
//   cursor: pointer
// }

// .list-items .up:hover .select-icon {
//   display: none
// }

// .list-items .up:hover .pix {
//   bottom: 0
// }

// .list-items .videoMobile .cover,
// .list-items .videoPc .cover {
//   height: 75px;
//   line-height: 75px
// }

// .list-items .videoMobile .mask .fail .icon,
// .list-items .videoPc .mask .fail .icon {
//   margin-top: 15px
// }



// .list-items.lists .item.active,
// .list-items.lists .item.active:hover {
//   background: #e4f0fd
// }

// .list-items.lists .item.pic .mask {
//   display: none
// }

// .list-items.lists .item.pic.up .mask {
//   display: block
// }

// .list-items.lists .item.pic.up .mask .fail {
//   line-height: 40px
// }

// .list-items.lists .item.pic.up .mask .fail .icon {
//   margin: 0
// }

// .list-items.lists .item-title {
//   border-bottom: 1px solid #f0f0f0;
//   margin-bottom: 0
// }

// .list-items.lists .item-title:hover {
//   background: none
// }

// .list-items.lists .up .select-icon {
//   color: #3089dc
// }

// .list-items.lists .up .next-icon-ashbin:before {
//   font-size: 14px
// }

// .uploader {
//   width: 100%;
//   height: 100%;
//   overflow: hidden
// }

// .opt-footer {
//   height: 66px;
//   line-height: 66px
// }

// .opt-footer a {
//   text-decoration: underline
// }

// .opt-footer .btn {
//   float: right;
//   margin-left: 10px;
//   margin-top: 20px
// }