body {
  background-color: var(--color-bg-2);
  color: var(--color-text-1);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 8px; 
  background-color: var(--color-text-4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-3);
}

::-webkit-scrollbar-track {
  cursor: pointer;
  border-radius: 8px; 
  background-color: var(--color-border-1);
}