.desc {
    :global {
        .ck-content {
            min-height: 200px;
            max-height: 500px;
        }
    }
}

.form-label-ellipsis {
    label {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        width: 100px;
    }
}