@import '@arco-design/web-react/es/style/theme/default.less';

.form-label-ellipsis {
    label {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        width: 100px;
    }
}

:global {
    .@{prefix}-form-label-item>label {
        font-size: 14px;
        white-space: nowrap;
        color: var(--color-text-2);
        overflow: hidden;
        /* text-overflow: ellipsis; */
        display: block;
        overflow: hidden;
    }

    .@{prefix}-form-item {
        margin-bottom: 16px;
    }

    .w-e-bar {
        background-color: var(--color-bg-2);
        color: var(--color-text-2);
    }

    .w-e-bar-item .disabled:hover {
        background-color: var(--color-bg-3);
        color: var(--color-text-3);
    }

    .w-e-bar-item button:hover {
        background-color: var(--color-bg-1);
        color: var(--color-text-1);
    }

    .w-e-text-container {
        background-color: var(--color-bg-2);
        color: var(--color-text-2);
    }

    .w-e-select-list {
        background-color: var(--color-bg-2);
        border: 1px solid var(--color-border-2);
    }

    .w-e-select-list ul li:hover {
        background-color: var(--color-bg-1);
    }

    .w-e-select-list ul .selected {
        background-color: var(--color-bg-1);
    }
}